<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-icon id="app-icon"><img src="./assets/imgs/logo.png" alt=""></ion-icon>
    <button class="icon-home" (click)="getLikesPage()"><img src="./assets/icon/icon_notification.png" alt=""></button>
    <button class="icon-home" (click)="getHomeSearch()"><img src="./assets/icon/icon_search.png" alt=""></button>
  </ion-navbar>
</ion-header>

<ion-content>
   <!-- slides home -->
   <ion-slides id="slide-home">
      <ion-slide *ngFor="let release of newRelease">
        <img src="{{release.images[0].url}}" alt="">
        <div class="info-slide">
          <h1>{{release.name}}</h1>
          <button (click)="goRelease(release.id);">Descubrir</button>
        </div>
      </ion-slide>
  </ion-slides>
  <!-- artist 
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <div class="cont-artist">
          <div class="img-thumb"><img src="./assets/imgs/thumb.png" alt=""></div>
          <h2>Nombre del artista</h2>
          <span>descubrir</span>
        </div>
      </ion-col>
      <ion-col col-6 class="back2">
        <div class="cont-artist">
          <div class="img-thumb"><img src="./assets/imgs/thumb.png" alt=""></div>
          <h2>Nombre del artista</h2>
          <span>descubrir</span>
        </div>
      </ion-col>
      <ion-col col-6 class="back2">
        <div class="cont-artist">
          <div class="img-thumb"><img src="./assets/imgs/thumb.png" alt=""></div>
          <h2>Nombre del artista</h2>
          <span>descubrir</span>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="cont-artist">
          <div class="img-thumb"><img src="./assets/imgs/thumb.png" alt=""></div>
          <h2>Nombre del artista</h2>
          <span>descubrir</span>
        </div>
      </ion-col>      
    </ion-row>
  </ion-grid>
  <!--
  <button id="btn-action-green">Descubre más artistas</button>
  <!---->
  <section id="playlist">
    <div class="title-select">
      <div class="title"><span>Recomendaciones</span><br/>para ti</div>
    </div>
  </section>
  <ion-grid>
    <ion-row>
      <ion-col col-6 class="cont-playlist" *ngFor="let playlist of categoriesComplete, let index">        
        <img src="{{playlist.images[0].url}}" alt="">
         <span (click)='playlistDetail(playlist.id, playlist.owner.id)' class="btn-playlist">ver playlist</span>
      </ion-col>                 
    </ion-row>
  </ion-grid>
  <!-- 
  <button id="btn-action-green">Descubre playlist</button>
  -->
</ion-content>
